page-home {

    h1 {
        padding-left: 30px;
        padding-top: 30px;
    }

    p {
        padding-left: 100px;
        padding-bottom: 20px;
    }

    .submit-btn {
        width: 50px;
        height: 50px;
        margin-top: 50px;
    }

    .center {
        text-align: center;
    }
}
